.consulta{
    background-color:rgb(255, 255, 255);
    width: 100%;
    height: 15vh;
}

.consulta1{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}.consulta1 h1{
    width: 60%;
    color: rgb(56, 56, 56);
    font-family: Libre\ Caslon\ Display;
}

.consulta2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}.consulta2 .btn{
    border-color: rgb(56, 56, 56);
    background-color: rgb(56, 56, 56);
    color: aliceblue;
  }

#section2 {
    scroll-margin-top: 2vh;
  }

