    /* Caixas principais */

  .first_box {
    display: block;
    background-color: inherit;
    width: 100%;
    height: 69.6vh;
    margin-top: 15vh;
  }

  .text_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25.5%;
    flex: 1; /* Ocupa todo o espaço que não é da imagem */
  }

  .text_title,.text{
    width: 100%;
    padding-top: 1vh;
    font-family: Libre\ Caslon\ Display;
    color: rgb(56, 56, 56);
  }

  h3{
    margin-top: 1.2vh;
    text-align: center;
    font-size: 1rem;
  }

  h2{
    font-size: 1.5rem;
    text-align: center;
  }

  .f_image {
    width: 100%;
    height: 88.5%; /* ocupa 100% da altura do first_box */
    overflow: hidden;
    position: relative;
}

.f_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
    transform: translateZ(0); /* Aceleração GPU */
}
  
.btn {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 30vw;
  height: 3.5vh;
  line-height: 3.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.10vw solid rgb(143, 68, 194);
  border-radius: 2vw;
  color: rgb(56, 56, 56);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 0.78rem;
  font-weight: 500;
  transition: background-color 0.55s ease-in-out, 
              color 0.55s ease-in-out, 
              border 0.55s ease-in-out,
              transform 0.3s ease-in-out;
}


#section1 {
  scroll-margin-top: 150px; /* ajuste conforme a altura do seu header */
}