/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    box-sizing: border-box;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  /* Base do documento */
  html,
  body,
  main {
    scroll-behavior: smooth;
    height: auto;
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color:rgb(245, 245, 244)
  }
  
  p{
    color: rgb(56, 56, 56);
    font-family: Libre\ Caslon\ Display;
  }

  a{
    text-decoration: none;
  }


  a {
    color: #fff;
    text-decoration: none;
  }

  ::selection {
    background: rgb(56, 56, 56);
    color: white;
  }
  