.text_before_box{
display: flex;
width: 100%;
background-color:rgb(255, 255, 255);
margin-top: 8vh;
height: 7vh;
align-items: center;
justify-content: center;
}

#h3second{
  font-family: Libre\ Caslon\ Display;
  font-size: 1.3rem;
  color: rgb(56, 56, 56);
}

.second_box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh;
  background-color:rgb(255, 255, 255);
  padding-bottom: 20px;
  padding-bottom: 80px;
}

.divided_box1,.divided_box2,
.divided_box3,.divided_box4,
.divided_box5,.divided_box6 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 33.33%; 
  background-color:rgb(255, 255, 255);
}

.divided_box1 img,
.divided_box2 img,
.divided_box3 img,
.divided_box4 img,
.divided_box5 img,
.divided_box6 img {
  width: 30%;       /* imagem ocupa toda a largura da caixa */
  height: auto;      /* mantém proporção */
  border-radius: 6px;
  margin-bottom: 10px;
  user-select: none;
}

.divided_box1 p,
.divided_box2 p,
.divided_box3 p,
.divided_box4 p,
.divided_box5 p,
.divided_box6 p{
  font-size: 1.2rem;
}