.contato_container{
    width: 100%;
    height: 40vh;
    background-color:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text_container{
    width: 100%;
    height: 30vh;
}


.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2vh;
}

.content {
  width: 55vw;
  height: 25vh;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease; /* 👈 animação suave */
}

.slide {
  min-width: 55vw;  /* 👈 igual à largura de .content */
  height: 25vh;     /* 👈 igual à altura de .content */
  background-size: 100% auto;
  background-position: center center;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#wpp {
  background-image: url("../images/logo-white.png");
  background-color: black;
}
#linkedin {
  background-image: url("../images/logo.png");
  background-color: aliceblue;
}
#instagram {
  background-image: url("../images/autoestima.png");
}